.App, html, body {
    min-width: 100%;
    min-height: 100%;
}

.deselected-pack {
    filter: grayscale(100%);
}

.custom-button {
    background-color: #a6e329 !important;
    font-size: 15px;
    width: 200px;
    height: 30px;
    margin: 2%;
    border: 1px grey;
}

.MRE {
    width: 100px !important;
}

.rDA {
    margin-left: 0 !important;
}

.sxy{
    width: 50px !important;
}

.palette-color {
    height: 200px;
    width: 100px;
    border: 1px solid black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}