.App, html, body {
    min-width: 100%;
    min-height: 100%;
}

.deselected-pack {
    filter: grayscale(100%);
}

.custom-button {
    background-color: #a6e329 !important;
    font-size: 15px;
    width: 200px;
    height: 30px;
    margin: 2%;
    border: 1px grey;
}

.MRE {
    width: 100px !important;
}

.rDA {
    margin-left: 0 !important;
}

.palette-color {
    height: 200px;
    width: 100px;
    border: 1px solid black;
}