.donatepage {
    height: 100%;
    width: 100%;
}

.dintro-container {
    margin: 0 auto;
    width: 400px;
    padding: 1rem;
}

.intro-text {
    margin: 0 auto;
    width: 400px;
    padding: 1rem;
    
}

