.footer-container {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%; 
    display: flex;
}

.logo-div {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo-div:last-child {
    margin-left: auto;
}