:root {
    --main-clr: rgb(65, 176, 5);
}
.step-one-intro {
    margin: 3rem;
}

.pack-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.pack-container > div {
    display: flex; 
    flex-basis: calc(50% - 27px);  
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

[type="checkbox"]:checked + img {
    filter: grayscale(100%);
}
.tooltip {
    position:relative;
}

.tooltip:before {
    content: attr(data-text); 
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:120px;
    padding:10px;
    border-radius:10px;
    background:rgba(0, 0, 0, 0.492);
    color: #fff;
    text-align:center;
    z-index: 1;
    display:none; 
}

.tooltip:hover:before {
    display:block;
}

.expansion-container {
    margin-top: 3rem;
    margin-left: 1rem;
    max-width: 20em;
    padding: 3rem;
    border-radius: 15px;
}

.game-container {
    margin-top: 3rem;
    margin-left: 1rem;
    max-width: 20em;
    padding: 3rem;
    border-radius: 15px;

}

.stuff-container {
    margin-top: 3rem;
    margin-left: 1rem;
    max-width: 20em;
    padding: 3rem;
    border-radius: 15px;

}

.kit-container {
    margin-top: 3rem;
    margin-left: 1rem;
    max-width: 20em;
    padding: 3rem;
    border-radius: 15px;

}

.pack-icon {
    height: 50px;
    width: 50px;
    
    
}

.pack-icon > img {
    height: 50px;
    width: 50px;
    
}

.button-container {
    margin: 3rem;
}

button {
    background-color: var(--main-clr) !important;
}

.radio-container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--main-clr) !important;
    background-color: var(--main-clr) !important;
}